<div class="alert alert-success" >
  
  <h4 class="alert-heading"><a class="post-title" href="/blog-post/{{id}}"> {{title}} </a></h4>
  <p class=" text" id="create-stamp"> created by {{User.userName}} on {{ format_date date_created}}</p>
  <hr id="line">
  <p class="mb-0 text">{{this.content}}</p>
  
</div>


